<nb-layout>
  <nb-layout-header class="w-100">
    <div class="col-6 d-flex align-items-center">
      <button nbButton ghost (click)="toggle()">
        <nb-icon icon="menu-2-outline"></nb-icon>
      </button>
      <h1 class="ml-4">{{title}}</h1>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button class="mr-3" (click)="switchMode()" shape="round" nbButton ghost status="primary"><nb-icon [icon]="icon"></nb-icon></button>
      <nb-user [nbContextMenu]="items" shape="round" name="Almacenes la 14"></nb-user>
    </div>
  </nb-layout-header>
  <nb-sidebar>
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>
  <nb-layout-column class="colored-column-basic">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
