<div class="row h-100 p-0" [nbSpinner]="loading">
  <app-clock-value-graph
    *ngIf="activeDataClock.getValue()"
    [theme]="theme"
    measure="energía activa"
    units="kW"
    [data$]="activeDataClock.asObservable()"
    class="col-6"
    (dateEmitter)="onActiveClockDateChange($event)"
  ></app-clock-value-graph>
  <app-clock-value-graph
    *ngIf="reactiveDataClock.getValue()"
    [theme]="theme"
    measure="energía reactiva"
    units="kVAr"
    [data$]="reactiveDataClock.asObservable()"
    class="col-6"
    (dateEmitter)="onReactiveClockDateChange($event)"
  ></app-clock-value-graph>
  <app-comparative-measure-line-graph
    *ngIf="activeDataGraphic.getValue() && reactiveDataGraphic.getValue()"
    class="col-12" [theme]="theme"
    firstMeasure="energía activa"
    secondMeasure="energía reactiva"
    firstUnits="kWh"
    secondUnits="kVArh"
    [firstMeasureData$]="activeDataGraphic.asObservable()"
    [SecondMeasureData$]="reactiveDataGraphic.asObservable()"
    (dateEmitter)="onGraphicDateChange($event)"
  ></app-comparative-measure-line-graph>
</div>
