<nb-accordion multi [nbSpinner]="loading">
  <nb-accordion-item [expanded]="!!powerMatrix.getValue()">
    <nb-accordion-item-header>
      Matriz
    </nb-accordion-item-header>
    <nb-accordion-item-body class="p-0">
      <app-measure-matrix
        *ngIf="powerMatrix.getValue()" class="col-12"
        mode="PROMEDIO"
        [theme]="theme" measure="Factor de Potencia"
        [data$]="powerMatrix.asObservable()"
        (dateEmitter)="onMatrixDateChange($event)"
      ></app-measure-matrix>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item [expanded]="!!powerData.getValue()">
    <nb-accordion-item-header>
      Gráficos
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <app-measure-line-graph
        *ngIf="powerData.getValue()" class="col-12"
        measure="factor de potencia"
        [theme]="theme"
        [data$]="powerData.asObservable()"
        (dateEmitter)="onLineGraphicDateChange($event)"
      ></app-measure-line-graph>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
