<nb-accordion multi [nbSpinner]="loading">
  <nb-accordion-item [expanded]="!!powerMatrix.getValue()">
    <nb-accordion-item-header>
      Matriz
    </nb-accordion-item-header>
    <nb-accordion-item-body class="p-0">
      <app-measure-matrix
        *ngIf="powerMatrix.getValue()" class="col-12"
        mode="TOTAL"
        [theme]="theme" measure="Factor de Potencia"
        [data$]="powerMatrix.asObservable()" units="kWh"
        (dateEmitter)="onMatrixDateChange($event)"
      ></app-measure-matrix>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item [expanded]="!!powerData.getValue()">
    <nb-accordion-item-header>
      Gráficos
    </nb-accordion-item-header>
    <nb-accordion-item-body>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>

