<nb-card [nbSpinner]="loading" status="primary">
  <nb-card-header class="row d-flex align-items-center m-0">
    <div class="col-6">
      <h5 class="font-weight-light">Matrix de {{measure}}</h5>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <app-date-range-selector (dateEmitter)="onDateChange($event)"></app-date-range-selector>
    </div>
  </nb-card-header>
  <nb-card-body class="p-4">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col" *ngFor="let item of headers">{{item}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of filteredData">
        <td *ngFor="let col of row">{{col}}</td>
      </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
