<nb-accordion multi [nbSpinner]="loading">
  <nb-accordion-item [expanded]="!!activeMatrix.getValue()">
    <nb-accordion-item-header>
      Matriz
    </nb-accordion-item-header>
    <nb-accordion-item-body class="p-0">
      <app-measure-matrix
        *ngIf="activeMatrix.getValue()" class="col-12"
        mode="TOTAL"
        [theme]="theme" measure="energía activa"
        [data$]="activeMatrix.asObservable()" units="kWh"
        (dateEmitter)="onMatrixDateChange($event)"
      ></app-measure-matrix>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item [expanded]="!!activeData.getValue()">
    <nb-accordion-item-header>
      Gráficos
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <app-measure-line-graph
        *ngIf="activeData.getValue()" class="col-12"
        units="kWh"
        measure="Energía Activa"
        [theme]="theme"
        [data$]="activeData.asObservable()"
        (dateEmitter)="onLineGraphicDateChange($event)"
      ></app-measure-line-graph>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
